*{}

/* a.fc-day-grid-event.fc-event.fc-start.fc-end:hover {
    width: 150%;
    height: 20px;
    background-color: #00334e!important;
    z-index: 999;
} */

a.fc-time-grid-event.fc-event.fc-start.fc-end {
    width: 20%;
    left: 0px!important;
    padding: 5px;
}
a.fc-day-grid-event.fc-event.fc-start.fc-end {
    padding: 5px;
    margin-bottom: 3px;
}
/* .fc-day-grid .fc-popover .fc-more-popover{
    width: 325px !important;

} */
.fc-unthemed .fc-popover{
    width: 340px;
}
button.fc-agendaWeek-button.fc-button.fc-state-default{
   
}

/* a.fc-time-grid-event.fc-event.fc-start.fc-end:hover {
    width: 30%;
    background-color: #00334e!important;
    z-index: 999;
    height: 50px;
    left: 0px!important;
} */

a.fc-time-grid-event.fc-event.fc-start.fc-end .fc-time {
    display: none;
}

.fc-day-grid-event .fc-content span.fc-time {
    font-weight: 700;
    margin-left: 10px!important;
}

.fc-day-grid-event .fc-content span.fc-time::after {
    content: "h";
}

.fc-day-grid-event .fc-content span.fc-time::before {
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin-right: 3px;
    ðŸŒƒ
}
.deadline .table-toolbar{
    border-bottom: 1px solid gray !important;
}

.deadline{
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.deadline .portlet-body .table-toolbar p{
     font-size: 2rem;
     text-transform: uppercase;
     margin-top: 10px;
     margin-left: 10px;


}.deadline .portlet-body .table-toolbar p i{
    font-size: 2.5rem;
    margin-right: 0.625rem;

}

.row.box_gio{
    margin: 10px 15px 25px 15px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border-radius: 10px;

}

.row.box_gio h2{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
    color: #01334e;
}
ul.page-sidebar-menu{

}
ul.page-sidebar-menu li.nav-item.start a span{
    color: #addab9;

}
ul.page-sidebar-menu li h3 a{color: #addab9;font-weight: 600;font-size: 15px;margin-right: 4px;padding-left: 3px;}
ul.page-sidebar-menu li h3{
    text-decoration: none;
    
}
ul.page-sidebar-menu li h3:hover{
    text-decoration: none;
}
ul.page-sidebar-menu li h3 a:hover{
    text-decoration: none;
}
ul.page-sidebar-menu div.list-group-level1{padding-left: 32px;}
ul.page-sidebar-menu div.list-group-level1 li{padding-bottom: 10px;}
ul.page-sidebar-menu div.list-group-level1 li a{color: #c9dff5;font-size: 15px;}
ul.page-sidebar-menu div.list-group-level1 li a:hover{text-decoration: none;}
ul.page-sidebar-menu div.list-group-level1 li a i{

} 
ul.page-sidebar-menu div.list-group-level1 li a span{

}